body {
  margin: 0;
  padding: 0;
  color: rgb(18, 16, 16);
  background-image: linear-gradient(180deg, #a5d9f4 0, #6cb4d8 50%, #1d90bd 100%);
  font-family: 'Poppins', sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}

